body {
    background-color:black; 
    font-family: arial; 
    color: white;
    line-height: 1.5em;
   
}
h1{
    color:grey; 
    font-family: Verdana;
    line-height: 1.25em;
}

.maindiv {
    background-color: white; 
    color: black; 
    width: 400px; padding: 
    20px; border-radius: 25px;  
    margin: 0 auto;
    text-align: center;
}

.result{
    line-height: 1.3em;
}

